* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: auto;
  background-color: #050505;
}

::selection {
  background-color: #87a922;
  color: #050505;
}

/* BUTTONS */

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.header-buttons a {
  color: #87a922;
  font-size: 1rem;
  transition: 0.3s;
  text-decoration: none;
}

.header-buttons a:hover {
  color: #b4d744;
  font-size: 1rem;
}

.btn-outlined {
  border: 1px solid #b4d744;
  border-radius: 8px;
  color: #b4d744;
  background-color: #ffffff00;
  padding: 11px 16px;
  transition: 0.3s;
}

.btn-outlined:hover {
  border: 1px solid #87a922;
  color: #87a922;
  cursor: pointer;
}

.btn-filled {
  background-color: #b4d744;
  display: inline-block;
  color: #3e4e19;
  font-weight: 600;
  padding: 11px 16px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  white-space: nowrap;
}

.btn-filled:hover {
  background-color: #87a922;
  color: #f1f8cf;
  cursor: pointer;
}

.link {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  transition: 0.3s;
  text-decoration: none;
}

.link a {
  color: #87a922;
  text-decoration: none;
}

.link:hover {
  color: #87a922;
  text-decoration: underline;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.container-hero > h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.container-hero > img {
  width: 36px;
}

.buttons-hero {
  display: flex;
  gap: 16px;
}

#hero-logo {
  padding-top: 120px;
  width: 180px;
}

/* QUEM SOMOS */

.quem-somos {
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 32px;
  border-bottom: 1px solid #b4d744;
}

.quem-somos-parte1 {
  display: flex;
  align-items: center;
}

.quem-somos-img {
  width: 360px;
}

@media (max-width: 991px) {
  .quem-somos-parte1 {
    flex-direction: column;
    align-items: center;
  }

  .quem-somos-img {
    margin: 0px;
    width: 320px;
  }

}

.que-tal-transformar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.que-tal-transformar > h3 {
  color: #ffffff;
  line-height: 150%;
  font-size: 1.5rem;
}

.nos-somos-terrasense > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
  text-transform: uppercase;
}

.que-tal-transformar > p {
  color: #b0b0b0;
  font-size: 1.2rem;
}

.nos-somos-terrasense > img {
  width: 220px;
}

.como-funciona {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.como-funciona > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
}

.etapas-funcionamento {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.etapas-funcionamento > h3 {
  color: #ffffff;
  line-height: 150%;
  font-size: 1.5rem;
}

.etapas-funcionamento > h3 > span {
  color: #b4d744;
}

.etapas-funcionamento > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
  text-transform: uppercase;
}

.etapas-funcionamento > p {
  color: #b0b0b0;
  font-size: 1.2rem;
}

/* O QUE A TERRASENSEAI OFERECE */

.title-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (max-width: 768px) {
  .title-offer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .title-offer > h2 {
    font-size: 3rem !important;
    padding-top: 0px;
    font-weight: 700;
  }
}

.title-offer > h2 {
  font-size: 2rem;
  padding-top: 16px;
}

.offer-container {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.offer-container h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
}

.offer-container p {
  color: #b0b0b0;
  font-size: 1rem;
  line-height: 150%;
}

.offer-container button {
  padding: 0px;
  background-color: #ffffff00;
  border: none;
}

.offer-slides {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}


.slide-container {
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  border: 1px solid #5d5d5d;
  border-radius: 8px;
  background: linear-gradient(#5d5d5d2d, #3d3d3d2d);
  overflow: hidden;
}

.slider {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slide {
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.active {
  display: flex;
}

.content-container {
  width: 50%;
  padding: 64px 72px;
}

.content-container > h2 {
  margin-bottom: 16px;
  text-align: left;
}

.content-container > h2 > span {
  color: #b4d744;
}

.image-container {
  object-position: center;
  overflow: hidden;
  height: 100%;
  width: 50%;
}

.image-container > img {
  height: 100%;
}

.prev {
  position: absolute;
  left: 2%;
}

.next {
  position: absolute;
  right: 2%;
}

@media (max-width: 992px) {
  .slide {
    flex-direction: column;
  }

  .content-container {
    width: 100%;
  }

  .image-container {
    width: 100%;
  }

  .image-container > img {
    width: 100%;
    height: auto;
  }
}

/* AGRO AI */

.agro-ai-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agro-ai {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .agro-ai-container {
    flex-direction: column;
    align-items: center;
  }

  .agro-ai-img > img {
    height: 480px !important;
  }
}

.agro-ai-img > img {
  height: 640px;
}

.agro-ai-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.agro-ai-header > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
}

.agro-ai-content > h3 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 150%;
}

.agro-ai-content > ol > li {
  color: #b0b0b0;
  font-size: 1rem;
  margin-bottom: 16px;
  line-height: 150%;
}

.agro-ai-content > ol > li > span {
  color: #ffffff;
  font-weight: 600;
}

/* NOTÍCIAS */

.noticias {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
}

.header-cards-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.header-cards-container > h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #b4d744;
}

.header-cards-container > h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.header-cards-container > p {
  font-size: 1rem;
  color: #ffffff;
}

.cards-container {
  gap: 20px;
}

.card-noticia {
  background: linear-gradient(#5d5d5d2d, #3d3d3d2d);
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  padding: 24px;
  min-width: 315px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
}

.card-noticia > p {
  font-size: 1rem;
  line-height: 150%;
}

.img-noticia {
  background-color: #b0b0b054;
  border-radius: 6px;
  height: 160px;
  overflow: hidden;
}

.img-noticia img {
  max-width: 100%;
  height: auto;
  object-fit:cover;
}

.header-card-noticia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.titulo-noticia {
  padding-bottom: 4px;
  border-bottom: 2px solid #b4d744;
}

.titulo-noticia h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

/* FAQ */

.faq-container {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 24px;
}

.faq-description-off {
  display: none;
}

.faq-title {
  padding-bottom: 4px;
  border-bottom: 4px solid #b4d744;
  width: fit-content;
}

.faq-title > h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}

.question {
  background: linear-gradient(#5d5d5d2d, #3d3d3d2d);
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
}

.header-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.header-question h4 {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 600;
}

.faq-btn {
  padding: 0px;
  background-color: #ffffff00;
  border: none;
}

.faq-description {
  color: #b0b0b0;
  font-size: 1rem;
  line-height: 150%;
}

.container-fale-conosco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 160px;
}

@media (max-width: 992px) {
  .container-fale-conosco {
    flex-direction: column;
    gap: 48px;
  }
}

.img-fale-conosco img {
  width: 200px;
}

.container-formulario-contato {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.forms-title {
  padding-bottom: 4px;
  border-bottom: 4px solid #b4d744;
  width: fit-content;
}

.forms-title > h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}

.formulario-contato {
  background: linear-gradient(#5d5d5d2d, #3d3d3d2d);
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  color: #ffffff;
}

.input-contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* padding-bottom: 16px; */
}

.input-contact-form.error,
.input-contact-form.validation-form.success {
  padding-bottom: 16px !important;
}

input,
textarea {
  padding: 9px 16px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  color: #ffffff;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: 1px solid #b4d744;
  color: #ffffff;
}

label {
  font-size: 0.875rem;
}

/* Error and Success */

.controle-formulario i {
  position: absolute;
  padding-top: 2px;
  padding-left: 4px;
  visibility: hidden;
}

.controle-formulario small {
  padding-left: 24px;
  visibility: hidden;
}

.controle-formulario.success input {
  border-color: #b4d744;
}

.controle-formulario.success textarea {
  border-color: #b4d744;
}

.controle-formulario.error input {
  border-color: #e74c3c;
}

.controle-formulario.error textarea {
  border-color: #e74c3c;
}

.controle-formulario.success i.fa-check-circle {
  color: #b4d744;
  visibility: visible !important;
}

.controle-formulario.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible !important;
}

.controle-formulario.error small {
  color: #e74c3c;
  visibility: visible !important;
}

.validation-form {
  font-size: smaller;
  visibility: hidden;
}


/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #1a1a1a;
  padding-top: 48px;
  padding-bottom: 48px;
}

.img-footer {
  width: 150px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 64px;
  width: fit-content;
}

@media (max-width: 1200px) {

}

.footer-title-menu {
  padding-bottom: 4px;
  border-bottom: 2px solid #b4d744;
  width: fit-content;
}

.footer-title-menu > h3 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

/* FOOTER MENU */

.footer-navmenu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.container-footer-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  gap: 12px;
  padding-left: 0px;
  min-width: 85px;
}

.footer-menu a:hover {
  color: #87a922;
  text-decoration: underline;
}

.footer-menu a.selected {
  color: #87a922;
  text-decoration: underline;
}

/* ENDEREÇO */

.container-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 205px;
}

.footer-title-address {
  padding-bottom: 4px;
  border-bottom: 2px solid #b4d744;
  width: fit-content;
}

.footer-title-address > h3 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.container-address > a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.container-address > a:hover {
  font-size: 1rem;
  color: #b4d744;
  text-decoration: underline;
}

/* REDES SOCIAIS  */

.conteiner-social {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 140px !important;
  max-width: 140px !important;
}

.footer-title-social {
  padding-bottom: 4px;
  border-bottom: 2px solid #b4d744;
  width: fit-content;
}

.footer-title-social > h3 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.social-content img:hover {
  color: linear-gradient(#b4d744, #87a922);
}

/* TERMOS DE USO & POLÍTICAS DE PRIVACIDADE */

.container-policy {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-title-policy {
  padding-bottom: 4px;
  border-bottom: 2px solid #b4d744;
  width: fit-content;
}

.footer-title-policy > h3 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.policy-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.policy-links > a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.policy-links > a:hover {
  font-size: 1rem;
  color: #b4d744;
  text-decoration: underline;
}

/* DESENVOLVIDO POR */

.developed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #1a1a1a;
  color: #ffffff;
  width: 100%;
}

.developed h3 {
  font-size: 1.125rem;
}

.developed p {
  font-size: 0.875rem;
}
