* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: auto;
  background-color: #050505;
}

/* HEADER */
#link-logo {
  transition: all 0.2s linear;
}

#link-logo:hover {
  transform: scale(1.1);
}

header {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: hsla(0, 0%, 4%, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 12px 120px;
  gap: 64px;
  border-bottom: 1px solid #b4d744;
}

/* BUTTONS */

.header-buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 18rem;
}

.header-buttons a {
  color: #87a922;
  font-size: 1rem;
  transition: 0.3s;
  text-decoration: none;
}

.header-buttons a:hover {
  color: #b4d744;
  font-size: 1rem;
}

.btn-outlined {
  border: 1px solid #b4d744;
  border-radius: 8px;
  color: #b4d744;
  background-color: #ffffff00;
  padding: 11px 16px;
  transition: 0.3s;
}

.btn-outlined:hover {
  border: 1px solid #87a922;
  color: #87a922;
  cursor: pointer;
}

.btn-filled {
  background-color: #b4d744;
  display: inline-block;
  color: #3e4e19;
  font-weight: 600;
  padding: 11px 16px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-filled:hover {
  background-color: #87a922;
  color: #f1f8cf;
  cursor: pointer;
}

/* NAVMENU */

.ul-navmenu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.link-menu {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  transition: 0.3s;
  text-decoration: none;
}

.ul-navmenu a:hover {
  color: #87a922;
  text-decoration: underline;
}

.ul-navmenu a.selected {
  color: #87a922;
  text-decoration: underline;
}

.link {
  color: #b4d744;
  text-decoration: underline;
}

link a:hover {
  color:#87a922;
  text-decoration: underline;
}

link a.selected {
  color: #87a922;
  text-decoration: underline;
}

.hero {
  background-image: url(./src/terrasense_background_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  padding-bottom: 120px;
  display: flex;
  gap: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.container-hero > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.container-hero > img {
  width: 36px;
}

.buttons-hero {
  display: flex;
  gap: 16px;
}

#hero-logo {
  padding-top: 64px;
  width: 240px;
}

/* QUEM SOMOS */

.quem-somos {
  padding: 64px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-image: url(./src/background_pattern.svg);
  background-repeat: no-repeat;
  background-position: top center;
  border-bottom: 1px solid #b4d744;
}

.quem-somos-img {
  margin-left: -150px;
  margin-bottom: -68px;
  z-index: -1;
}

.que-tal-transformar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.que-tal-transformar > h3 {
  color: #ffffff;
  line-height: 150%;
  font-size: 1.5rem;
}

.nos-somos-terrasense > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
  text-transform: uppercase;
}

.que-tal-transformar > p {
  color: #b0b0b0;
  font-size: 1.2rem;
}

.nos-somos-terrasense > img {
  width: 220px;
}

.como-funciona {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.etapas-funcionamento {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.etapas-funcionamento > h3 {
  color: #ffffff;
  line-height: 150%;
  font-size: 1.5rem;
}

.etapas-funcionamento > h3 > span {
  color: #b4d744;
}

.etapas-funcionamento > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
  text-transform: uppercase;
}

.etapas-funcionamento > p {
  color: #b0b0b0;
  font-size: 1.2rem;
}

/* O QUE A TERRASENSEAI OFERECE */
.offer-container {
  padding: 64px 120px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./src/background_pattern.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.offer-container h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
}

.offer-container p {
  color: #b0b0b0;
  font-size: 1rem;
  line-height: 150%;
}

.offer-container button {
  padding: 0px;
  background-color: #ffffff00;
  border: none;
}

/* AGRO AI */

.agro-ai {
  padding: 64px 120px;
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  background-image: url(./src/background_pattern.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.agro-ai-img > img {
  height: 640px;
}

.agro-ai-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.agro-ai-header > h2 {
  color: #ffffff;
  line-height: 150%;
  font-size: 2rem;
}

.agro-ai-content > h3 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 150%;
}

.agro-ai-content > img {
  width: 220px;
}

.agro-ai-content > ol > li {
  color: #b0b0b0;
  font-size: 1rem;
  margin-bottom: 16px;
  line-height: 150%;
}

.agro-ai-content > ol > li > span {
  color: #ffffff;
  font-weight: 600;
}

/* NOTÃCIAS */

.noticias {
  display: flex;
  flex-direction: column;
  padding: 64px 120px;
  background-image: url(./src/background_pattern.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.header-cards-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.header-cards-container > h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #b4d744;
}

.header-cards-container > h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.header-cards-container > p {
  font-size: 1rem;
  color: #ffffff;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card-noticia {
  background: linear-gradient(#5d5d5d2d, #3d3d3d2d);
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  color: #ffffff;
}

.card-noticia > p {
  font-size: 1rem;
  line-height: 150%;
}

.img-noticia {
  background-color: #b0b0b054;
  border-radius: 6px;
  height: 160px;
}

.header-card-noticia {
  display: flex;
  justify-content: space-between;
}

.titulo-noticia {
  padding-bottom: 4px;
  border-bottom: 2px solid #b4d744;
}

.titulo-noticia > h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.categoria-noticia {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4d744;
  border-radius: 50px;
  color: #3e4e19;
  padding: 4px 16px;
  font-weight: 600;
}

/* FAQ */

.faq-container {
  display: flex;
  flex-direction: column;
  padding: 64px 120px;
  gap: 24px;
}

.faq-description-off {
  display: none;
}

.faq-title {
  padding-bottom: 4px;
  border-bottom: 4px solid #b4d744;
}

.faq-title > h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}

.question {
  background: linear-gradient(#5d5d5d2d, #3d3d3d2d);
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
}

.header-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}

.faq-btn {
  padding: 0px;
  background-color: #ffffff00;
  border: none;
}

.faq-description {
  color: #b0b0b0;
  font-size: 1rem;
  line-height: 150%;
}